<footer class="main-footer">
    <!-- main-footer -->
    <div class="container">
        <div class="widgets-section">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="useful-link">
                        <li><a href="http://www.koreatech.ac.kr/" target="_blank">한국기술교육대학교</a></li>
                        <li><a href="http://cse.koreatech.ac.kr/" target="_blank">KOREATECH 컴퓨터공학부</a></li>
                        <li><a href="http://atrc.koreatech.ac.kr/" target="_blank">KOREATECH 첨단기술연구소</a></li>
                        <li><a href="https://lib.koreatech.ac.kr/" target="_blank">KOREATECH 다산정보관</a></li>
                        <li><a href="http://www.nrf.re.kr/" target="_blank">한국연구재단</a></li>
                        <li><a href="http://scholar.google.co.kr/schhp?hl=ko" target="_blank">구글학술검색</a></li>
                        <li><a href="https://jcr.clarivate.com/" target="_blank">Journal Citation Reports</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
<!-- footer-bottom -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12" style="display:none;">
                <ul>
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCueLU1pCvFlM8Y8sth7a6RQ/featured" target="_blank"><i
                            class="fa fa-youtube"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12" style="display:none;">
                <div class="copyright">Copyright &copy; 2020 <a href="/">Laboratory of Intelligent Networks</a> All Rights Reserved.
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="copyright" style="text-align:center;">Copyright &copy; 2006 - 2024 <a href="/">Laboratory of Intelligent Networks</a> All Rights Reserved.
                </div>
            </div>


        </div>
    </div>
</div>
<!-- footer-bottom end -->

</footer>
